<h3>User List</h3>
<table class = "table table-sm">
 
    <th>Id</th>
    <th>User Name</th>
    <th>Password</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Reviewer?</th>
    <th>Admin?</th>
    <th>Actions</th>

  
    <tr *ngFor = "let user of users">
      <td>{{user.id}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.password}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.email}}</td>
      <td>{{user.reviewer ? "Yes":"No"}}</td>
      <td>{{user.admin ? "Yes":"No"}}</td>
      <td><a routerLink = "/user/edit/{{user.id}}">Edit</a></td>
    </tr>
  </table>
